FILES
/.vim/.swp
/.vim/sessions
*.log
.vimbundles/*
.tmux/**

!bundle/cache/.gitkeep
bundle/cache

.env.development.local
*.local

vim/bundle
vim/sessions

netrc
.netrc

config/**/*
!config/astronvim/*

yarnrc
.Brewfile.lock.json
yarnrc
brave-bookmarks.json.old
